<?xml version="1.0"?>
<epgDownloaderConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <sources>
    <source xsi:type="xmlTvSource" sourceName="Test2" sourceUri="file:///C:/epg/TVGuide2.xml">
      <channels>
        <channel id="1" xmlTvId="FV-parliamenttv" name="Parliament TV" logoUrl="http://www.lyngsat-logo.com/logo/tv/pp/parliament_tv_nz.jpg" />
        <channel id="2" xmlTvId="FV-maoritelevision" name="Maori TV" logoUrl="http://www.lyngsat-logo.com/logo/tv/mm/maori_tv.jpg" />
        <channel id="3" xmlTvId="FV-tvone" name="TV One" logoUrl="http://www.lyngsat-logo.com/logo/tv/tt/tv_one_nz.jpg" />
        <channel id="4" xmlTvId="FV-tv2" name="TV2" logoUrl="http://www.lyngsat-logo.com/logo/tv/tt/tv2_nz.jpg" />
        <channel id="5" xmlTvId="FV-c4" name="C4" logoUrl="http://www.lyngsat-logo.com/logo/tv/cc/c4_nz.jpg" />
        <channel id="6" xmlTvId="FV-tv3" name="TV3" logoUrl="http://www.lyngsat-logo.com/logo/tv/tt/tv3_newzealand.jpg" />
        <channel id="7" xmlTvId="FV-tvnz6" name="TVNZ 6" logoUrl="http://www.lyngsat-logo.com/logo/tv/tt/tv_nz6.jpg" />
        <channel id="8" xmlTvId="FV-tvnz7" name="TVNZ 7" logoUrl="http://www.lyngsat-logo.com/logo/tv/tt/tv_nz7.jpg" />
      </channels>
    </source>
  </sources>
  <categoryDetection keywordDetectionEnabled="true">
    <keywords>
      <!--Series-->
      <keyword word="shortland street" category="Series" />
      <keyword word="the graham norton show" category="Series" />
      <keyword word="americon idol" category="Series" />
      <keyword word="australian idol" category="Series" />

      <!--Movies (purple) -->
      <keyword word="movie" category="Movie" />
      <keyword word="blockbuster" category="Movie" />
      <keyword word="theatre" category="Movie" />

      <!--News (yellow) -->
      <keyword word="news" category="News" />
      <keyword word="business" category="News" />

      <!--Sports (dark green) -->
      <keyword word="sport" category="Sports" />
      <keyword word="golf" category="Sports" />
      <keyword word="v8" category="Sports" />
      <keyword word="supercars" category="Sports" />
      <keyword word="rugby" category="Sports" />
      <keyword word="cricket" category="Sports" />
      <keyword word="netball" category="Sports" />
      <keyword word="icc" category="Sports" />
      <keyword word="sportswatch" category="Sports" />

      <!--Special (orange) -->
      <keyword word="special" category="Special" />

      <!--Ignore-->
      <keyword word="infomercials" category="None" />
      <keyword word="infomercial" category="None" />
      <keyword word="bbc world" category="None" />
      <keyword word="closedown" category="None" />
      <keyword word="omnibus" category="None" />
      <keyword word="sunrise" category="None" />
      <keyword word="breakfast" category="None" />
      <keyword word="ruddy hell" category="None" />
      <keyword word="good morning" category="None" />

      <keyword word="c90" category="None" />
      <keyword word="what now?" category="None" />
      <keyword word="nz top 40" category="None" />
      <keyword word="u choose" category="None" />
      <keyword word="spoon" category="None" />
      <keyword word="80's movies" category="None" />
      <keyword word="vodafone" category="None" />
      <keyword word="blender" category="None" />
      <keyword word="insomnia" category="None" />
    </keywords>
  </categoryDetection>
  <metadataOptions tvSeriesMetadataServiceEnabled="true" movieMetadataServiceEnabled="true" />
</epgDownloaderConfig>